.afterNav
{
    margin-top: 200px;
}

.tableBold
{
    font-weight: bold;
}

.statuslist
{
    width: 100%;
    height:200px;
}

.statuslist li
{
    display: inline-block;
    width: 200px;
    margin: 10px;
}

/*
    nav
*/
.navbar-inverse
{
    background-image: none;
    background-color: #002140;
    border-bottom: #337ab7;
    color: #fff;
}

.navbar-inverse .navbar-brand
{
    color:white;

}

.navbar-inverse .navbar-nav>li>a
{
    color:white;
    min-width: 100px;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    transition: 1s;
    background-color: #001123;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{

    background-color: #001123;
}

.flexbox
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flexbox article
{
    width: 33%;
}


.error
{
    color: crimson;
}
